html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
title {
    display: none;
}

html, body{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

#logo {
    aspect-ratio: 1/1;
    height: 1.1rem;
}

body {
    min-height: 100%;
    font-size: 16px;
    background-color: #0d0d0d;
    display: grid;
    grid-template-rows: 65px 1fr 50px;
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    width: 100vw;
    height: 65px;
    background-color: #131313;
    top: 0;
    left: 0;
    z-index: 999;
    grid-row: 1;
}

#headerContent {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 4fr 1fr;
}

#title {
    font-size: 1.5rem;
    color: aliceblue;
    line-height: 27px;
    text-align: center;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#headNav {
    display: flex;
    justify-content: space-evenly;
}

.headText {
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
    line-height: 1.1rem;
    color: aliceblue;
    opacity: 0.7;
    align-self: center;
    transition: opacity ease 0.5s;
    cursor: pointer;
}

.headText::before {
    position: absolute;
    opacity: 1;
    height: 1px;
    width: 100%;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(0,0,0,0), aliceblue, rgb(0,0,0,0));
    transform-origin: 50% 100%;
    transition: transform 0.55s ease;
    transform: scaleX(0);
}

.headText:hover {
    opacity: 1;
}

.headText:hover::before {
    transform: scaleX(1);
}

.iconLink {
    opacity: 0.8;
    transition: opacity ease 0.5s;
    cursor: pointer;
}

.iconLink:hover {
    opacity: 1;
}

.iconLinks {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: aliceblue;
    grid-column: 3;
}

main {
    grid-row: 2;
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

#mainBar {
    grid-column: 2;
    background-color: #212121;
    width: 680px;
    padding: 0 60px 20px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#sideBarLeft {
    padding: 0 auto;
    grid-column: 1;
    width: auto;
    height: 100%;
    top: 65px;
    position: sticky;
}

footer {
    grid-row: 3;
    width: 100vw;
    height: 50px;
    background-color: #131313;
}

#footerContent {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

#footerName {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color: aliceblue;
    grid-column: 2;
    text-align: center;
}

#footerText {
    font-size: 1rem;
    color: aliceblue;
}

#leftList {
    text-align: left;
    padding-top: 5px;
}

#leftList li {
    margin: 7px 0;
}

.tableOfContents {
    text-decoration: none; 
}

.dromach {
    background-image: url('images/Aeondromach.svg');
    background-repeat: no-repeat;
    font-size: 1.5rem;
    aspect-ratio: 1/1;
    width: 18px;
}

.contentsHead {
    padding-top: 15px;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
}

.leftListh2 {
    font-size: 1.4rem;
    color: rgb(32, 114, 207);
    text-indent: 15px;
}

.leftListh3 {
    font-size: 1.2rem;
    color: rgb(36, 104, 183);
    text-indent: 30px;
}

.leftListh4 {
    font-size: 1rem;
    color: rgb(37, 85, 140);
    text-indent: 45px;
}

.leftListh5 {
    font-size: 1rem;
    color: rgb(40, 76, 118);
    text-indent: 60px;
}

h2 {
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 1.7rem;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

h4 {
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

h5 {
    font-size: 1.2rem;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}

hr {
    width: 70%;
    border: none;
    height: 1px;
    background: linear-gradient(to right, rgb(0,0,0,0), rgb(255,255,255), rgb(0,0,0,0));
}

.description {
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
}