html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
title {
    display: none;
}

html, body{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
    background-color: #0d0d0d;
}

header {
    width: 100vw;
    height: 65px;
    position: fixed;
    background-color: #131313;
    top: 0;
    left: 0;
    z-index: 999;
}

#headerContent {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 4fr;
}

#title {
    font-size: 1.5rem;
    color: aliceblue;
    line-height: 27px;
    text-align: center;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#headNav {
    display: flex;
    justify-content: space-evenly;
}

.headText {
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
    color: aliceblue;
    opacity: 0.85;
    align-self: center;
    transition: opacity ease 1s;
}

#logoImg {
    margin: 12.5px 12.5px;
    height: 40px;
    width: 40px;
}

main {
    background-color: #212121;
    width: 1200px;
    padding-top: 65px;
    margin: 0 auto;
}

#contact {
    font-size: 1.5rem;
    color: aliceblue;
}

footer {
    bottom: 0;
    width: 100vw;
    position: absolute;
    height: 50px;
    background-color: #131313;
}

#footerContent {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
}

#footerName {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color: aliceblue;
    grid-column: 2;
    text-align: center;
}